### Movie Dataset ###
https://www.kaggle.com/tmdb/tmdb-movie-metadata<br>
https://www.kaggle.com/rounakbanik/the-movies-dataset<br>

#### 1.Import Library ####

In [1]:
import pandas as pd
import numpy as ny
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics.pairwise import linear_kernel
from ast import literal_eval

#### 1.Content Based Recommender ####

In [2]:
df_credit = pd.read_csv('../data/tmdb_5000_credits.csv')
df_movie = pd.read_csv('../data/tmdb_5000_movies.csv')

In [3]:
df_credit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 4 columns):
movie_id    4803 non-null int64
title       4803 non-null object
cast        4803 non-null object
crew        4803 non-null object
dtypes: int64(1), object(3)
memory usage: 150.2+ KB

In [4]:
df_movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
budget                  4803 non-null int64
genres                  4803 non-null object
homepage                1712 non-null object
id                      4803 non-null int64
keywords                4803 non-null object
original_language       4803 non-null object
original_title          4803 non-null object
overview                4800 non-null object
popularity              4803 non-null float64
production_companies    4803 non-null object
production_countries    4803 non-null object
release_date            4802 non-null object
revenue                 4803 non-null int64
runtime                 4801 non-null float64
spoken_languages        4803 non-null object
status                  4803 non-null object
tagline                 3959 non-null object
title                   4803 non-null object
vote_average            4803 non-null float64
vote_count              4803 non-null int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.5+ KB

In [5]:
df_credit.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [6]:
df_movie.head(3)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466

In [7]:
#Merge movie dataset and credit dataset
df_credit.rename(columns={"movie_id":"id"},inplace=True)
df_movie = df_movie.merge(df_credit)
df_movie.head(3)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."

In [8]:
df_movie['vote_count'].describe()

count     4803.000000
mean       690.217989
std       1234.585891
min          0.000000
25%         54.000000
50%        235.000000
75%        737.000000
max      13752.000000
Name: vote_count, dtype: float64

##### 1.1 Based on the movie data (overview)  #####

In [9]:
#Term Frequency-Inverse Document Frequency (TF-IDF)
tfidf = TfidfVectorizer(stop_words='english')
df_movie['overview'] = df_movie['overview'].fillna(' ')
tfidf_matrix = tfidf.fit_transform(df_movie['overview'])
print(tfidf_matrix.shape)
cosine = cosine_similarity(tfidf_matrix,tfidf_matrix)
print(cosine.shape)

(4803, 20978)
(4803, 4803)

In [10]:
title_idx = pd.Series(data=df_movie.index,index=df_movie['title'])
title_idx.head()

title
Avatar                                      0
Pirates of the Caribbean: At World's End    1
Spectre                                     2
The Dark Knight Rises                       3
John Carter                                 4
dtype: int64

In [11]:
def recommend_by_movie_data(title,cosine):
    #get index of the Movie title
    idx = title_idx.loc[title]
    score_list = list(enumerate(cosine[idx]))
#     print(score_list[:3])
    score_list.sort(key=lambda x: x[1],reverse=True)
    print(score_list[1:11])
    reco_list = []
    for i,ele in score_list[1:11]:
        if ele > 0:
            reco_list.append(df_movie.iloc[i]['title'])
    return reco_list

In [12]:
print(recommend_by_movie_data('The Dark Knight Rises',cosine))

[(65, 0.30151176591665491), (299, 0.2985704525539683), (428, 0.28785054670016941), (1359, 0.26446092382799508), (3854, 0.18545003006561461), (119, 0.16799626199850706), (2507, 0.16682891043358281), (9, 0.13374009066555234), (1181, 0.13219702138476816), (210, 0.13045537014449821)]
['The Dark Knight', 'Batman Forever', 'Batman Returns', 'Batman', 'Batman: The Dark Knight Returns, Part 2', 'Batman Begins', 'Slow Burn', 'Batman v Superman: Dawn of Justice', 'JFK', 'Batman & Robin']

##### 1.2 Based on Credit Data #####

In [13]:
#literal_eval
ext_features = ['genres','keywords','cast','crew']
for feature in ext_features:
    df_movie[feature] = df_movie[feature].apply(eval)

In [14]:
def get_director_of_crew(crew):
    for i in crew:
        if i['job'] == 'Director':
            return i['name']

In [15]:
#create compare keywords
def get_keywords(col):
    keylist = []
    if type(col) == list:
        for i in col:
            if len(keylist) <3:
                keylist.append(i['name'])
        return keylist

In [16]:
df_movie['director'] =df_movie['crew'].apply(get_director_of_crew)
df_movie['genres'] = df_movie['genres'].apply(get_keywords)
df_movie['keywords'] = df_movie['keywords'].apply(get_keywords)
df_movie['cast'] = df_movie['cast'].apply(get_keywords)
df_movie.head(3)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
0,237000000,"[Action, Adventure, Fantasy]",http://www.avatarmovie.com/,19995,"[culture clash, future, space war]",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{'credit_id': '52fe48009251416c750aca23', 'de...",James Cameron
1,300000000,"[Adventure, Fantasy, Action]",http://disney.go.com/disneypictures/pirates/,285,"[ocean, drug abuse, exotic island]",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,"[Johnny Depp, Orlando Bloom, Keira Knightley]","[{'credit_id': '52fe4232c3a36847f800b579', 'de...",Gore Verbinski
2,245000000,"[Action, Adventure, Crime]",http://www.sonypictures.com/movies/spectre/,206647,"[spy, based on novel, secret agent]",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,"[Daniel Craig, Christoph Waltz, Léa Seydoux]","[{'credit_id': '54805967c3a36829b5002c41', 'de...",Sam Mendes

In [17]:
#  genres','keywords','cast','director'
def recommand_by_credit_data1(df):
    try:
        concept =' '.join(df['genres'])+' '+' '.join(df['keywords'])+' '+' '.join(df['cast'])+' '+df['director']
    except TypeError:
        concept =' '.join(df['genres'])+' '+' '.join(df['keywords'])+' '+' '.join(df['cast'])
    return concept

df_movie['concept'] = df_movie.apply(recommand_by_credit_data1,axis=1)

In [18]:
df_movie['concept'][0]

'Action Adventure Fantasy culture clash future space war Sam Worthington Zoe Saldana Sigourney Weaver James Cameron'

In [19]:
#CountVectorizer
cnt = CountVectorizer(stop_words='english')
cnt_matrix = cnt.fit_transform(df_movie['concept'])
print(cnt_matrix.shape)
cosine2 = cosine_similarity(cnt_matrix,cnt_matrix)
print(cosine2.shape)

(4803, 10763)
(4803, 4803)

In [20]:
print(recommend_by_movie_data('The Dark Knight Rises',cosine2))

[(119, 0.70710678118654746), (65, 0.70295949156663773), (4638, 0.54433105395181747), (1196, 0.44095855184409838), (2793, 0.41247895569215276), (280, 0.36514837167011077), (1720, 0.36004114991154784), (1792, 0.35355339059327379), (1740, 0.35176323534072423), (3966, 0.34299717028501775)]
['Batman Begins', 'The Dark Knight', "Amidst the Devil's Wings", 'The Prestige', 'The Killer Inside Me', 'Public Enemies', 'Kick-Ass', 'Pain & Gain', 'Kick-Ass 2', 'Point Blank']

In [21]:
print(recommend_by_movie_data('The Godfather', cosine2))

[(867, 0.5), (2731, 0.45184805705753184), (1525, 0.40089186286863654), (2792, 0.33407655239053047), (1209, 0.3125), (3012, 0.30316953129541624), (4209, 0.30316953129541624), (2649, 0.30151134457776363), (1018, 0.29462782549439481), (4124, 0.29462782549439481)]
['The Godfather: Part III', 'The Godfather: Part II', 'Apocalypse Now', 'Glengarry Glen Ross', 'The Rainmaker', 'The Outsiders', 'The Conversation', 'The Son of No One', 'The Cotton Club', 'This Thing of Ours']

#### 2.Collaborative Filtering ####

In [22]:
from surprise import SVD
from surprise import Reader,Dataset,evaluate
from collections import defaultdict

In [23]:
df_rating = pd.read_csv('../data/ratings_small.csv')
df_all_movie = pd.read_csv('../data/movies_metadata.csv')

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [24]:
df_rating.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [25]:
df_all_movie.head(3)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0

In [26]:
#df_all_movie['title'].values(→avoid NAN)
id_title = pd.Series(data=df_all_movie['title'].values,index=df_all_movie.id)
id_title.head()

id
862                        Toy Story
8844                         Jumanji
15602               Grumpier Old Men
31357              Waiting to Exhale
11862    Father of the Bride Part II
dtype: object

##### 2.1 Surprise SVD for modeling #####

In [27]:
svd_rating = df_rating.loc[ : , ['userId','movieId','rating']]
svd_data = Dataset.load_from_df(svd_rating,Reader())
svd_trainset = svd_data.build_full_trainset()

svd = SVD()
# evaluate(svd, svd_trainset, measures=['RMSE', 'MAE'])
svd.fit(svd_trainset)

In [28]:
svd.predict(1, 302)

Prediction(uid=1, iid=302, r_ui=None, est=2.7363890298368596, details={'was_impossible': False})

In [29]:
# query for specific predicions
user_id = str(5)  
item_id = str(1)  

# rating of user-5 to item-1
pred = svd.predict(5, 1)
print('rating of user-{0} to item-{1} is '.format(user_id, item_id), pred.est)

rating of user-5 to item-1 is  4.12601664118

##### 2.2 Get Top N #####

In [33]:
testset = svd_trainset.build_anti_testset()
predictions = svd.test(testset)

In [30]:
# print(predictions[0].uid,predictions[0].iid,predictions[0].est)

In [35]:
#predictions, input user id, top n num
def get_top_n(predictions,in_uid,n):
    top_n,reco_list =[],[]
    for  uid, iid, r_ui, est, _ in predictions:
        if uid == in_uid:
            tup1 = (iid,est)
            top_n.append(tup1)
    top_n.sort(key = lambda x:x[1],reverse=True)
    top_n = top_n[0:n]
#     print(top_n)
    for ele in top_n:
        try:
            title = id_title[str(ele[0])]
        except KeyError:
            title = ' '
        reco_list.append((ele[0],title,ele[1]))
    return reco_list

In [36]:
print(get_top_n(predictions,5,10))

[(1217, ' ', 4.7661202910464553), (3462, ' ', 4.7485304273183733), (899, 'Broken Blossoms', 4.7127531662190796), (318, 'The Million Dollar Hotel', 4.6819012748171733), (926, 'Galaxy Quest', 4.6726837870101301), (2542, ' ', 4.6705464030228718), (1204, ' ', 4.6653125606598751), (68157, ' ', 4.6595949273319732), (916, 'Bullitt', 4.6494109655032876), (2132, 'Totally Blonde', 4.6464550739861012)]