In [62]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

from sklearn import ensemble
from sklearn import model_selection

from sklearn.ensemble import ExtraTreesClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier

from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
%matplotlib inline

In [63]:
train_data_org = pd.read_csv('../data/train.csv')
test_data_org = pd.read_csv('../data/test.csv')
test_data_org['Survived'] = 0
combined_train_test = train_data_org.append(test_data_org)

In [64]:
#Embarked
if combined_train_test['Embarked'].isnull().sum() != 0:
        combined_train_test['Embarked'].fillna(combined_train_test['Embarked'].mode().iloc[0], inplace=True)

emb_dummies_df = pd.get_dummies(combined_train_test['Embarked'],prefix=combined_train_test[['Embarked']].columns[0])
combined_train_test = pd.concat([combined_train_test, emb_dummies_df], axis=1)

In [65]:
#Sex
sex_dummies_df = pd.get_dummies(combined_train_test['Sex'], prefix=combined_train_test[['Sex']].columns[0])
combined_train_test = pd.concat([combined_train_test, sex_dummies_df], axis=1)

In [66]:
#Title
combined_train_test['Title'] = combined_train_test['Name'].str.extract('.+,(.+)').str.extract('^(.+?)\.').str.strip()
title_Dict = {}
title_Dict.update(dict.fromkeys(['Capt', 'Col', 'Major', 'Dr', 'Rev'], 'Officer'))
title_Dict.update(dict.fromkeys(['Jonkheer', 'Don', 'Sir', 'the Countess', 'Dona', 'Lady'], 'Royalty'))
title_Dict.update(dict.fromkeys(['Mme', 'Ms', 'Mrs'], 'Mrs'))
title_Dict.update(dict.fromkeys(['Mlle', 'Miss'], 'Miss'))
title_Dict.update(dict.fromkeys(['Mr'], 'Mr'))
title_Dict.update(dict.fromkeys(['Master'], 'Master'))

combined_train_test['Title'] = combined_train_test['Title'].map(title_Dict)
title_dummies_df = pd.get_dummies(combined_train_test['Title'], prefix=combined_train_test[['Title']].columns[0])
combined_train_test = pd.concat([combined_train_test, title_dummies_df], axis=1)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)

In [67]:
# Fare
if combined_train_test['Fare'].isnull().sum() != 0:
    combined_train_test['Fare'] = combined_train_test[['Fare']].fillna(combined_train_test.groupby('Pclass').transform('mean'))

combined_train_test['Group_Ticket'] = combined_train_test['Fare'].groupby(by=combined_train_test['Ticket']).transform('count')
combined_train_test['Fare'] = combined_train_test['Fare'] / combined_train_test['Group_Ticket']
combined_train_test.drop(['Group_Ticket'], axis=1, inplace=True)

def fare_category(fare):
        if fare <= 4:
            return 0
        elif fare <= 10:
            return 1
        elif fare <= 30:
            return 2
        elif fare <= 45:
            return 3
        else:
            return 4
combined_train_test['Fare_Category'] = combined_train_test['Fare'].map(fare_category)

fare_cat_dummies_df = pd.get_dummies(combined_train_test['Fare_Category'],prefix=combined_train_test[['Fare_Category']].columns[0])
combined_train_test = pd.concat([combined_train_test, fare_cat_dummies_df], axis=1)

In [68]:
# Pclass

# 建立Fare Category


def fare_category(fare):
    if fare <= 4:
        return 'Very_Low_Fare'
    elif fare <= 10:
        return 'Low_Fare'
    elif fare <= 30:
        return 'Med_Fare'
    elif fare <= 45:
        return 'High_Fare'
    else:
        return 'Very_High_Fare'

    # 建立PClass Fare Category

def pclass_fare_category(df, Pclass_1_mean_fare, Pclass_2_mean_fare, Pclass_3_mean_fare):
    if df['Pclass'] == 1:
        if df['Fare'] <= Pclass_1_mean_fare:
            return 'Pclass_1_Low_Fare'
        else:
            return 'Pclass_1_High_Fare'
    elif df['Pclass'] == 2:
        if df['Fare'] <= Pclass_2_mean_fare:
            return 'Pclass_2_Low_Fare'
        else:
            return 'Pclass_2_High_Fare'
    elif df['Pclass'] == 3:
        if df['Fare'] <= Pclass_3_mean_fare:
            return 'Pclass_3_Low_Fare'
        else:
            return 'Pclass_3_High_Fare'


Pclass_1_mean_fare = combined_train_test['Fare'].groupby(by=combined_train_test['Pclass']).mean().get([1]).values[0]
Pclass_2_mean_fare = combined_train_test['Fare'].groupby(by=combined_train_test['Pclass']).mean().get([2]).values[0]
Pclass_3_mean_fare = combined_train_test['Fare'].groupby(by=combined_train_test['Pclass']).mean().get([3]).values[0]
# 建立Pclass_Fare Category
combined_train_test['Pclass_Fare_Category'] = combined_train_test.apply(pclass_fare_category, args=(Pclass_1_mean_fare, Pclass_2_mean_fare, Pclass_3_mean_fare), axis=1)
p_fare = LabelEncoder()
p_fare.fit(np.array(['Pclass_1_Low_Fare', 'Pclass_1_High_Fare', 'Pclass_2_Low_Fare',
                     'Pclass_2_High_Fare', 'Pclass_3_Low_Fare', 'Pclass_3_High_Fare']))  # 给每一项添加标签
combined_train_test['Pclass_Fare_Category'] = p_fare.transform(combined_train_test['Pclass_Fare_Category'])  # 转换成数值

In [69]:
#Parch and SibSp

def family_size_category(family_size):
    if family_size <= 1:
        return 'Single'
    elif family_size <= 3:
        return 'Small_Family'
    else:
        return 'Large_Family'

combined_train_test['Family_Size'] = combined_train_test['Parch'] + combined_train_test['SibSp'] + 1
combined_train_test['Family_Size_Category'] = combined_train_test['Family_Size'].map(family_size_category)
le_family = LabelEncoder()
le_family.fit(np.array(['Single', 'Small_Family', 'Large_Family']))
combined_train_test['Family_Size_Category'] = le_family.transform(combined_train_test['Family_Size_Category'])
fam_size_cat_dummies_df = pd.get_dummies(combined_train_test['Family_Size_Category'],
                                         prefix=combined_train_test[['Family_Size_Category']].columns[0])
combined_train_test = pd.concat([combined_train_test, fam_size_cat_dummies_df], axis=1)

In [70]:
# Age
missing_age_df = pd.DataFrame(combined_train_test[['Age', 'Parch', 'Sex', 'SibSp', 'Family_Size', 'Family_Size_Category',
                             'Title', 'Fare', 'Fare_Category', 'Pclass', 'Embarked']])
missing_age_df = pd.get_dummies(missing_age_df,columns=['Title', 'Family_Size_Category', 'Fare_Category', 'Sex', 'Pclass' ,'Embarked'])
missing_age_train = missing_age_df[missing_age_df['Age'].notnull()]
missing_age_test = missing_age_df[missing_age_df['Age'].isnull()]

In [71]:
# 弃掉不需要的列
def drop_col_not_req(df, cols):
    df.drop(cols, axis=1, inplace=True)

def fill_missing_age(missing_age_train, missing_age_test):
        missing_age_X_train = missing_age_train.drop(['Age'], axis=1)
        missing_age_Y_train = missing_age_train['Age']
        missing_age_X_test = missing_age_test.drop(['Age'], axis=1)
        #模型1
        gbm_reg = ensemble.GradientBoostingRegressor(random_state=42)
        gbm_reg_param_grid = {'n_estimators': [2000], 'max_depth': [3],'learning_rate': [0.01], 'max_features': [3]}
        gbm_reg_grid = model_selection.GridSearchCV(gbm_reg, gbm_reg_param_grid, cv=10, n_jobs=25, verbose=1,  scoring='neg_mean_squared_error')
        gbm_reg_grid.fit(missing_age_X_train, missing_age_Y_train)
        print('Age feature Best GB Params:' + str(gbm_reg_grid.best_params_))
        print('Age feature Best GB Score:' + str(gbm_reg_grid.best_score_))
        print('GB Train Error for "Age" Feature Regressor:'+ str(gbm_reg_grid.score(missing_age_X_train, missing_age_Y_train)))
        missing_age_test['Age_GB'] = gbm_reg_grid.predict(missing_age_X_test)
        print(missing_age_test['Age_GB'][:4])
        #模型2
        lrf_reg = LinearRegression()
        lrf_reg_param_grid = {'fit_intercept': [True], 'normalize': [True]}
        lrf_reg_grid = model_selection.GridSearchCV(lrf_reg, lrf_reg_param_grid, cv=10, n_jobs=25, verbose=1, scoring='neg_mean_squared_error')
        lrf_reg_grid.fit(missing_age_X_train, missing_age_Y_train)
        print('Age feature Best LR Params:' + str(lrf_reg_grid.best_params_))
        print('Age feature Best LR Score:' + str(lrf_reg_grid.best_score_))
        print('LR Train Error for "Age" Feature Regressor' + str(lrf_reg_grid.score(missing_age_X_train, missing_age_Y_train)))
        missing_age_test['Age_LRF'] = lrf_reg_grid.predict(missing_age_X_test)
        print(missing_age_test['Age_LRF'][:4])
        #将两个模型预测后的均值作为最终预测结果
        print('shape1',missing_age_test['Age'].shape,missing_age_test[['Age_GB','Age_LRF']].mode(axis=1).shape)
        #missing_age_test['Age'] = missing_age_test[['Age_GB','Age_LRF']].mode(axis=1)
        missing_age_test['Age'] = np.mean([missing_age_test['Age_GB'],missing_age_test['Age_LRF']])
        print(missing_age_test['Age'][:4])
        drop_col_not_req(missing_age_test, ['Age_GB', 'Age_LRF'])

        return missing_age_test
    
combined_train_test.loc[(combined_train_test.Age.isnull()), 'Age'] = fill_missing_age(missing_age_train,missing_age_test)

Fitting 10 folds for each of 1 candidates, totalling 10 fits

[Parallel(n_jobs=25)]: Done   5 out of  10 | elapsed:    2.4s remaining:    2.4s
[Parallel(n_jobs=25)]: Done  10 out of  10 | elapsed:    2.4s finished

Age feature Best GB Params:{'learning_rate': 0.01, 'max_depth': 3, 'max_features': 3, 'n_estimators': 2000}
Age feature Best GB Score:-112.901918595
GB Train Error for "Age" Feature Regressor:-91.5736510487
5     33.625384
17    33.216675
19    33.120653
26    26.608875
Name: Age_GB, dtype: float64
Fitting 10 folds for each of 1 candidates, totalling 10 fits

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
[Parallel(n_jobs=25)]: Done   5 out of  10 | elapsed:    0.1s remaining:    0.1s
[Parallel(n_jobs=25)]: Done  10 out of  10 | elapsed:    0.1s finished
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Age feature Best LR Params:{'fit_intercept': True, 'normalize': True}
Age feature Best LR Score:-119.179217703
LR Train Error for "Age" Feature Regressor-115.203587721
5     34.31250
17    32.75000
19    30.34375
26    26.65625
Name: Age_LRF, dtype: float64
shape1 (263,) (263, 2)
5     29.45237
17    29.45237
19    29.45237
26    29.45237
Name: Age, dtype: float64

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [72]:
#Cabin
combined_train_test['Cabin_Letter'] = combined_train_test['Cabin'].apply(lambda x:str(x)[0] if pd.notnull(x) else x)
combined_train_test = pd.get_dummies(combined_train_test,columns=['Cabin','Cabin_Letter'])

In [73]:
train_data = combined_train_test[:891]
test_data = combined_train_test[891:]
titanic_train_data_X = train_data.drop(['Survived'],axis=1)
titanic_train_data_Y = train_data['Survived']
titanic_test_data_X = test_data.drop(['Survived'],axis=1)

In [74]:
titanic_train_data_X

,Age,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Ticket,...,Cabin_G6,Cabin_T,Cabin_Letter_A,Cabin_Letter_B,Cabin_Letter_C,Cabin_Letter_D,Cabin_Letter_E,Cabin_Letter_F,Cabin_Letter_G,Cabin_Letter_T
0,22.00000,S,7.250000,"Braund, Mr. Owen Harris",0,1,3,male,1,A/5 21171,...,0,0,0,0,0,0,0,0,0,0
1,38.00000,C,35.641650,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,PC 17599,...,0,0,0,0,1,0,0,0,0,0
2,26.00000,S,7.925000,"Heikkinen, Miss. Laina",0,3,3,female,0,STON/O2. 3101282,...,0,0,0,0,0,0,0,0,0,0
3,35.00000,S,26.550000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,113803,...,0,0,0,0,1,0,0,0,0,0
4,35.00000,S,8.050000,"Allen, Mr. William Henry",0,5,3,male,0,373450,...,0,0,0,0,0,0,0,0,0,0
5,29.45237,Q,8.458300,"Moran, Mr. James",0,6,3,male,0,330877,...,0,0,0,0,0,0,0,0,0,0
6,54.00000,S,25.931250,"McCarthy, Mr. Timothy J",0,7,1,male,0,17463,...,0,0,0,0,0,0,1,0,0,0
7,2.00000,S,4.215000,"Palsson, Master. Gosta Leonard",1,8,3,male,3,349909,...,0,0,0,0,0,0,0,0,0,0
8,27.00000,S,3.711100,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",2,9,3,female,0,347742,...,0,0,0,0,0,0,0,0,0,0
9,14.00000,C,15.035400,"Nasser, Mrs. Nicholas (Adele Achem)",0,10,2,female,1,237736,...,0,0,0,0,0,0,0,0,0,0
10,4.00000,S,5.566667,"Sandstrom, Miss. Marguerite Rut",1,11,3,female,1,PP 9549,...,1,0,0,0,0,0,0,0,1,0
11,58.00000,S,26.550000,"Bonnell, Miss. Elizabeth",0,12,1,female,0,113783,...,0,0,0,0,1,0,0,0,0,0
12,20.00000,S,8.050000,"Saundercock, Mr. William Henry",0,13,3,male,0,A/5. 2151,...,0,0,0,0,0,0,0,0,0,0
13,39.00000,S,4.467857,"Andersson, Mr. Anders Johan",5,14,3,male,1,347082,...,0,0,0,0,0,0,0,0,0,0
14,14.00000,S,7.854200,"Vestrom, Miss. Hulda Amanda Adolfina",0,15,3,female,0,350406,...,0,0,0,0,0,0,0,0,0,0
15,55.00000,S,16.000000,"Hewlett, Mrs. (Mary D Kingcome)",0,16,2,female,0,248706,...,0,0,0,0,0,0,0,0,0,0
16,2.00000,Q,4.854167,"Rice, Master. Eugene",1,17,3,male,4,382652,...,0,0,0,0,0,0,0,0,0,0
17,29.45237,S,13.000000,"Williams, Mr. Charles Eugene",0,18,2,male,0,244373,...,0,0,0,0,0,0,0,0,0,0
18,31.00000,S,9.000000,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",0,19,3,female,1,345763,...,0,0,0,0,0,0,0,0,0,0
19,29.45237,C,7.225000,"Masselmani, Mrs. Fatima",0,20,3,female,0,2649,...,0,0,0,0,0,0,0,0,0,0
20,35.00000,S,13.000000,"Fynney, Mr. Joseph J",0,21,2,male,0,239865,...,0,0,0,0,0,0,0,0,0,0
21,34.00000,S,13.000000,"Beesley, Mr. Lawrence",0,22,2,male,0,248698,...,0,0,0,0,0,1,0,0,0,0
22,15.00000,Q,8.029200,"McGowan, Miss. Anna ""Annie""",0,23,3,female,0,330923,...,0,0,0,0,0,0,0,0,0,0
23,28.00000,S,35.500000,"Sloper, Mr. William Thompson",0,24,1,male,0,113788,...,0,0,1,0,0,0,0,0,0,0
24,8.00000,S,4.215000,"Palsson, Miss. Torborg Danira",1,25,3,female,3,349909,...,0,0,0,0,0,0,0,0,0,0
25,38.00000,S,4.483929,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",5,26,3,female,1,347077,...,0,0,0,0,0,0,0,0,0,0
26,29.45237,C,7.225000,"Emir, Mr. Farred Chehab",0,27,3,male,0,2631,...,0,0,0,0,0,0,0,0,0,0
27,19.00000,S,43.833333,"Fortune, Mr. Charles Alexander",2,28,1,male,3,19950,...,0,0,0,0,1,0,0,0,0,0
28,29.45237,Q,7.879200,"O'Dwyer, Miss. Ellen ""Nellie""",0,29,3,female,0,330959,...,0,0,0,0,0,0,0,0,0,0
29,29.45237,S,7.895800,"Todoroff, Mr. Lalio",0,30,3,male,0,349216,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,21.00000,S,11.500000,"Giles, Mr. Frederick Edward",0,862,2,male,1,28134,...,0,0,0,0,0,0,0,0,0,0
862,48.00000,S,25.929200,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",0,863,1,female,0,17466,...,0,0,0,0,0,1,0,0,0,0
863,29.45237,S,6.322727,"Sage, Miss. Dorothy Edith ""Dolly""",2,864,3,female,8,CA. 2343,...,0,0,0,0,0,0,0,0,0,0
864,24.00000,S,13.000000,"Gill, Mr. John William",0,865,2,male,0,233866,...,0,0,0,0,0,0,0,0,0,0
865,42.00000,S,13.000000,"Bystrom, Mrs. (Karolina)",0,866,2,female,0,236852,...,0,0,0,0,0,0,0,0,0,0
866,27.00000,C,13.858300,"Duran y More, Miss. Asuncion",0,867,2,female,1,SC/PARIS 2149,...,0,0,0,0,0,0,0,0,0,0
867,31.00000,S,50.495800,"Roebling, Mr. Washington Augustus II",0,868,1,male,0,PC 17590,...,0,0,1,0,0,0,0,0,0,0
868,29.45237,S,9.500000,"van Melkebeke, Mr. Philemon",0,869,3,male,0,345777,...,0,0,0,0,0,0,0,0,0,0
869,4.00000,S,3.711100,"Johnson, Master. Harold Theodor",1,870,3,male,1,347742,...,0,0,0,0,0,0,0,0,0,0
870,26.00000,S,7.895800,"Balkic, Mr. Cerin",0,871,3,male,0,349248,...,0,0,0,0,0,0,0,0,0,0
871,47.00000,S,26.277100,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",1,872,1,female,1,11751,...,0,0,0,0,0,1,0,0,0,0
872,33.00000,S,5.000000,"Carlsson, Mr. Frans Olof",0,873,1,male,0,695,...,0,0,0,1,0,0,0,0,0,0
873,47.00000,S,9.000000,"Vander Cruyssen, Mr. Victor",0,874,3,male,0,345765,...,0,0,0,0,0,0,0,0,0,0
874,28.00000,C,12.000000,"Abelson, Mrs. Samuel (Hannah Wizosky)",0,875,2,female,1,P/PP 3381,...,0,0,0,0,0,0,0,0,0,0
875,15.00000,C,7.225000,"Najib, Miss. Adele Kiamie ""Jane""",0,876,3,female,0,2667,...,0,0,0,0,0,0,0,0,0,0
876,20.00000,S,4.922900,"Gustafsson, Mr. Alfred Ossian",0,877,3,male,0,7534,...,0,0,0,0,0,0,0,0,0,0
877,19.00000,S,7.895800,"Petroff, Mr. Nedelio",0,878,3,male,0,349212,...,0,0,0,0,0,0,0,0,0,0
878,29.45237,S,7.895800,"Laleff, Mr. Kristo",0,879,3,male,0,349217,...,0,0,0,0,0,0,0,0,0,0
879,56.00000,C,27.719433,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",1,880,1,female,0,11767,...,0,0,0,0,1,0,0,0,0,0
880,25.00000,S,13.000000,"Shelley, Mrs. William (Imanita Parrish Hall)",1,881,2,female,0,230433,...,0,0,0,0,0,0,0,0,0,0
881,33.00000,S,7.895800,"Markun, Mr. Johann",0,882,3,male,0,349257,...,0,0,0,0,0,0,0,0,0,0
882,22.00000,S,10.516700,"Dahlberg, Miss. Gerda Ulrika",0,883,3,female,0,7552,...,0,0,0,0,0,0,0,0,0,0
883,28.00000,S,10.500000,"Banfield, Mr. Frederick James",0,884,2,male,0,C.A./SOTON 34068,...,0,0,0,0,0,0,0,0,0,0
884,25.00000,S,7.050000,"Sutehall, Mr. Henry Jr",0,885,3,male,0,SOTON/OQ 392076,...,0,0,0,0,0,0,0,0,0,0
885,39.00000,Q,4.854167,"Rice, Mrs. William (Margaret Norton)",5,886,3,female,0,382652,...,0,0,0,0,0,0,0,0,0,0
886,27.00000,S,13.000000,"Montvila, Rev. Juozas",0,887,2,male,0,211536,...,0,0,0,0,0,0,0,0,0,0
887,19.00000,S,30.000000,"Graham, Miss. Margaret Edith",0,888,1,female,0,112053,...,0,0,0,1,0,0,0,0,0,0
888,29.45237,S,5.862500,"Johnston, Miss. Catherine Helen ""Carrie""",2,889,3,female,1,W./C. 6607,...,0,0,0,0,0,0,0,0,0,0
889,26.00000,C,30.000000,"Behr, Mr. Karl Howell",0,890,1,male,0,111369,...,0,0,0,0,1,0,0,0,0,0
890,32.00000,Q,7.750000,"Dooley, Mr. Patrick",0,891,3,male,0,370376,...,0,0,0,0,0,0,0,0,0,0

In [75]:
titanic_test_data_X

,Age,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Ticket,...,Cabin_G6,Cabin_T,Cabin_Letter_A,Cabin_Letter_B,Cabin_Letter_C,Cabin_Letter_D,Cabin_Letter_E,Cabin_Letter_F,Cabin_Letter_G,Cabin_Letter_T
0,34.50000,Q,7.829200,"Kelly, Mr. James",0,892,3,male,0,330911,...,0,0,0,0,0,0,0,0,0,0
1,47.00000,S,7.000000,"Wilkes, Mrs. James (Ellen Needs)",0,893,3,female,1,363272,...,0,0,0,0,0,0,0,0,0,0
2,62.00000,Q,9.687500,"Myles, Mr. Thomas Francis",0,894,2,male,0,240276,...,0,0,0,0,0,0,0,0,0,0
3,27.00000,S,8.662500,"Wirz, Mr. Albert",0,895,3,male,0,315154,...,0,0,0,0,0,0,0,0,0,0
4,22.00000,S,6.143750,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",1,896,3,female,1,3101298,...,0,0,0,0,0,0,0,0,0,0
5,14.00000,S,9.225000,"Svensson, Mr. Johan Cervin",0,897,3,male,0,7538,...,0,0,0,0,0,0,0,0,0,0
6,30.00000,Q,7.629200,"Connolly, Miss. Kate",0,898,3,female,0,330972,...,0,0,0,0,0,0,0,0,0,0
7,26.00000,S,9.666667,"Caldwell, Mr. Albert Francis",1,899,2,male,1,248738,...,0,0,0,0,0,0,0,0,0,0
8,18.00000,C,7.229200,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",0,900,3,female,0,2657,...,0,0,0,0,0,0,0,0,0,0
9,21.00000,S,8.050000,"Davies, Mr. John Samuel",0,901,3,male,2,A/4 48871,...,0,0,0,0,0,0,0,0,0,0
10,29.45237,S,7.895800,"Ilieff, Mr. Ylio",0,902,3,male,0,349220,...,0,0,0,0,0,0,0,0,0,0
11,46.00000,S,26.000000,"Jones, Mr. Charles Cresson",0,903,1,male,0,694,...,0,0,0,0,0,0,0,0,0,0
12,23.00000,S,41.133350,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",0,904,1,female,1,21228,...,0,0,0,1,0,0,0,0,0,0
13,63.00000,S,13.000000,"Howard, Mr. Benjamin",0,905,2,male,1,24065,...,0,0,0,0,0,0,0,0,0,0
14,47.00000,S,30.587500,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",0,906,1,female,1,W.E.P. 5734,...,0,0,0,0,0,0,1,0,0,0
15,24.00000,C,13.860400,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",0,907,2,female,1,SC/PARIS 2167,...,0,0,0,0,0,0,0,0,0,0
16,35.00000,Q,12.350000,"Keane, Mr. Daniel",0,908,2,male,0,233734,...,0,0,0,0,0,0,0,0,0,0
17,21.00000,C,7.225000,"Assaf, Mr. Gerios",0,909,3,male,0,2692,...,0,0,0,0,0,0,0,0,0,0
18,27.00000,S,7.925000,"Ilmakangas, Miss. Ida Livija",0,910,3,female,1,STON/O2. 3101270,...,0,0,0,0,0,0,0,0,0,0
19,45.00000,C,7.225000,"Assaf Khalil, Mrs. Mariana (Miriam"")""",0,911,3,female,0,2696,...,0,0,0,0,0,0,0,0,0,0
20,55.00000,C,29.700000,"Rothschild, Mr. Martin",0,912,1,male,1,PC 17603,...,0,0,0,0,0,0,0,0,0,0
21,9.00000,S,3.170800,"Olsen, Master. Artur Karl",1,913,3,male,0,C 17368,...,0,0,0,0,0,0,0,0,0,0
22,29.45237,S,31.683300,"Flegenheim, Mrs. Alfred (Antoinette)",0,914,1,female,0,PC 17598,...,0,0,0,0,0,0,0,0,0,0
23,21.00000,C,30.689600,"Williams, Mr. Richard Norris II",1,915,1,male,0,PC 17597,...,0,0,0,0,0,0,0,0,0,0
24,48.00000,C,37.482143,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",3,916,1,female,1,PC 17608,...,0,0,0,1,0,0,0,0,0,0
25,50.00000,S,7.250000,"Robins, Mr. Alexander A",0,917,3,male,1,A/5. 3337,...,0,0,0,0,0,0,0,0,0,0
26,22.00000,C,30.989600,"Ostby, Miss. Helene Ragnhild",1,918,1,female,0,113509,...,0,0,0,1,0,0,0,0,0,0
27,22.50000,C,7.225000,"Daher, Mr. Shedid",0,919,3,male,0,2698,...,0,0,0,0,0,0,0,0,0,0
28,41.00000,S,30.500000,"Brady, Mr. John Bertram",0,920,1,male,0,113054,...,0,0,1,0,0,0,0,0,0,0
29,29.45237,C,7.226400,"Samaan, Mr. Elias",0,921,3,male,2,2662,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,21.00000,Q,7.750000,"Canavan, Mr. Patrick",0,1280,3,male,0,364858,...,0,0,0,0,0,0,0,0,0,0
389,6.00000,S,4.215000,"Palsson, Master. Paul Folke",1,1281,3,male,3,349909,...,0,0,0,0,0,0,0,0,0,0
390,23.00000,S,23.375000,"Payne, Mr. Vivian Ponsonby",0,1282,1,male,0,12749,...,0,0,0,1,0,0,0,0,0,0
391,51.00000,S,19.700000,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",1,1283,1,female,0,PC 17592,...,0,0,0,0,0,1,0,0,0,0
392,13.00000,S,6.750000,"Abbott, Master. Eugene Joseph",2,1284,3,male,0,C.A. 2673,...,0,0,0,0,0,0,0,0,0,0
393,47.00000,S,10.500000,"Gilbert, Mr. William",0,1285,2,male,0,C.A. 30769,...,0,0,0,0,0,0,0,0,0,0
394,29.00000,S,7.341667,"Kink-Heilmann, Mr. Anton",1,1286,3,male,3,315153,...,0,0,0,0,0,0,0,0,0,0
395,18.00000,S,30.000000,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",0,1287,1,female,1,13695,...,0,0,0,0,1,0,0,0,0,0
396,24.00000,Q,7.250000,"Colbert, Mr. Patrick",0,1288,3,male,0,371109,...,0,0,0,0,0,0,0,0,0,0
397,48.00000,C,39.600000,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",1,1289,1,female,1,13567,...,0,0,0,1,0,0,0,0,0,0
398,22.00000,S,7.775000,"Larsson-Rondberg, Mr. Edvard A",0,1290,3,male,0,347065,...,0,0,0,0,0,0,0,0,0,0
399,31.00000,Q,7.733300,"Conlon, Mr. Thomas Henry",0,1291,3,male,0,21332,...,0,0,0,0,0,0,0,0,0,0
400,30.00000,S,41.216675,"Bonnell, Miss. Caroline",0,1292,1,female,0,36928,...,0,0,0,0,1,0,0,0,0,0
401,38.00000,S,10.500000,"Gale, Mr. Harry",0,1293,2,male,1,28664,...,0,0,0,0,0,0,0,0,0,0
402,22.00000,C,29.700000,"Gibson, Miss. Dorothy Winifred",1,1294,1,female,0,112378,...,0,0,0,0,0,0,0,0,0,0
403,17.00000,S,23.550000,"Carrau, Mr. Jose Pedro",0,1295,1,male,0,113059,...,0,0,0,0,0,0,0,0,0,0
404,43.00000,C,27.720800,"Frauenthal, Mr. Isaac Gerald",0,1296,1,male,1,17765,...,0,0,0,0,0,1,0,0,0,0
405,20.00000,C,13.862500,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",0,1297,2,male,0,SC/PARIS 2166,...,0,0,0,0,0,1,0,0,0,0
406,23.00000,S,10.500000,"Ware, Mr. William Jeffery",0,1298,2,male,1,28666,...,0,0,0,0,0,0,0,0,0,0
407,50.00000,C,42.300000,"Widener, Mr. George Dunton",1,1299,1,male,1,113503,...,0,0,0,0,1,0,0,0,0,0
408,29.45237,Q,7.720800,"Riordan, Miss. Johanna Hannah""""",0,1300,3,female,0,334915,...,0,0,0,0,0,0,0,0,0,0
409,3.00000,S,4.591667,"Peacock, Miss. Treasteall",1,1301,3,female,1,SOTON/O.Q. 3101315,...,0,0,0,0,0,0,0,0,0,0
410,29.45237,Q,7.750000,"Naughton, Miss. Hannah",0,1302,3,female,0,365237,...,0,0,0,0,0,0,0,0,0,0
411,37.00000,Q,30.000000,"Minahan, Mrs. William Edward (Lillian E Thorpe)",0,1303,1,female,1,19928,...,0,0,0,0,1,0,0,0,0,0
412,28.00000,S,7.775000,"Henriksson, Miss. Jenny Lovisa",0,1304,3,female,0,347086,...,0,0,0,0,0,0,0,0,0,0
413,29.45237,S,8.050000,"Spector, Mr. Woolf",0,1305,3,male,0,A.5. 3236,...,0,0,0,0,0,0,0,0,0,0
414,39.00000,C,36.300000,"Oliva y Ocana, Dona. Fermina",0,1306,1,female,0,PC 17758,...,0,0,0,0,1,0,0,0,0,0
415,38.50000,S,7.250000,"Saether, Mr. Simon Sivertsen",0,1307,3,male,0,SOTON/O.Q. 3101262,...,0,0,0,0,0,0,0,0,0,0
416,29.45237,S,8.050000,"Ware, Mr. Frederick",0,1308,3,male,0,359309,...,0,0,0,0,0,0,0,0,0,0
417,29.45237,C,7.452767,"Peter, Master. Michael J",1,1309,3,male,1,2668,...,0,0,0,0,0,0,0,0,0,0

In [76]:
   def get_top_n_features(titanic_train_data_X, titanic_train_data_Y, top_n_features):
        # 随机森林
        rf_est = RandomForestClassifier(random_state=42)
        rf_param_grid = {'n_estimators': [500], 'min_samples_split': [2, 3], 'max_depth': [20]}
        rf_grid = model_selection.GridSearchCV(rf_est, rf_param_grid, n_jobs=25, cv=10, verbose=1)
        rf_grid.fit(titanic_train_data_X,titanic_train_data_Y)
        #将feature按Importance排序
        feature_imp_sorted_rf = pd.DataFrame({'feature': list(titanic_train_data_X), 'importance': rf_grid.best_estimator_.feature_importances_}).sort_values('importance', ascending=False)
        features_top_n_rf = feature_imp_sorted_rf.head(top_n_features)['feature']
        print('Sample 25 Features from RF Classifier')
        print(str(features_top_n_rf[:25]))

        # AdaBoost
        ada_est = ensemble.AdaBoostClassifier(random_state=42)
        ada_param_grid = {'n_estimators': [500], 'learning_rate': [0.5, 0.6]}
        ada_grid = model_selection.GridSearchCV(ada_est, ada_param_grid, n_jobs=25, cv=10, verbose=1)
        ada_grid.fit(titanic_train_data_X, titanic_train_data_Y)
        #排序
        feature_imp_sorted_ada = pd.DataFrame({'feature': list(titanic_train_data_X),'importance': ada_grid.best_estimator_.feature_importances_}).sort_values( 'importance', ascending=False)
        features_top_n_ada = feature_imp_sorted_ada.head(top_n_features)['feature']

        # ExtraTree
        et_est = ensemble.ExtraTreesClassifier(random_state=42)
        et_param_grid = {'n_estimators': [500], 'min_samples_split': [3, 4], 'max_depth': [15]}
        et_grid = model_selection.GridSearchCV(et_est, et_param_grid, n_jobs=25, cv=10, verbose=1)
        et_grid.fit(titanic_train_data_X, titanic_train_data_Y)
        #排序
        feature_imp_sorted_et = pd.DataFrame({'feature': list(titanic_train_data_X), 'importance': et_grid.best_estimator_.feature_importances_}).sort_values('importance', ascending=False)
        features_top_n_et = feature_imp_sorted_et.head(top_n_features)['feature']
        print('Sample 25 Features from ET Classifier:')
        print(str(features_top_n_et[:25]))

        # 将三个模型挑选出来的前features_top_n_et合并
        features_top_n = pd.concat([features_top_n_rf, features_top_n_ada, features_top_n_et], ignore_index=True).drop_duplicates()

        return features_top_n

In [77]:
feature_to_pick = 250
feature_top_n = get_top_n_features(titanic_train_data_X,titanic_train_data_Y,feature_to_pick)
titanic_train_data_X = titanic_train_data_X[feature_top_n]
del titanic_train_data_X['Ticket_Number']#后来发现删除Ticket_Number后效果更好了
titanic_test_data_X = titanic_test_data_X[feature_top_n]
del titanic_test_data_X['Ticket_Number']

Fitting 10 folds for each of 2 candidates, totalling 20 fits

JoblibValueError: JoblibValueError
___________________________________________________________________________
Multiprocessing exception:
...........................................................................
/anaconda3/lib/python3.6/runpy.py in _run_module_as_main(mod_name='ipykernel_launcher', alter_argv=1)
    188         sys.exit(msg)
    189     main_globals = sys.modules["__main__"].__dict__
    190     if alter_argv:
    191         sys.argv[0] = mod_spec.origin
    192     return _run_code(code, main_globals, None,
--> 193                      "__main__", mod_spec)
        mod_spec = ModuleSpec(name='ipykernel_launcher', loader=<_f...b/python3.6/site-packages/ipykernel_launcher.py')
    194
    195 def run_module(mod_name, init_globals=None,
    196                run_name=None, alter_sys=False):
    197     """Execute a module's code without importing it

...........................................................................
/anaconda3/lib/python3.6/runpy.py in _run_code(code=<code object <module> at 0x10482f780, file "/ana...3.6/site-packages/ipykernel_launcher.py", line 5>, run_globals={'__annotations__': {}, '__builtins__': <module 'builtins' (built-in)>, '__cached__': '/anaconda3/lib/python3.6/site-packages/__pycache__/ipykernel_launcher.cpython-36.pyc', '__doc__': 'Entry point for launching an IPython kernel.\n\nTh...orts until\nafter removing the cwd from sys.path.\n', '__file__': '/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py', '__loader__': <_frozen_importlib_external.SourceFileLoader object>, '__name__': '__main__', '__package__': '', '__spec__': ModuleSpec(name='ipykernel_launcher', loader=<_f...b/python3.6/site-packages/ipykernel_launcher.py'), 'app': <module 'ipykernel.kernelapp' from '/anaconda3/lib/python3.6/site-packages/ipykernel/kernelapp.py'>, ...}, init_globals=None, mod_name='__main__', mod_spec=ModuleSpec(name='ipykernel_launcher', loader=<_f...b/python3.6/site-packages/ipykernel_launcher.py'), pkg_name='', script_name=None)
     80                        __cached__ = cached,
     81                        __doc__ = None,
     82                        __loader__ = loader,
     83                        __package__ = pkg_name,
     84                        __spec__ = mod_spec)
---> 85     exec(code, run_globals)
        code = <code object <module> at 0x10482f780, file "/ana...3.6/site-packages/ipykernel_launcher.py", line 5>
        run_globals = {'__annotations__': {}, '__builtins__': <module 'builtins' (built-in)>, '__cached__': '/anaconda3/lib/python3.6/site-packages/__pycache__/ipykernel_launcher.cpython-36.pyc', '__doc__': 'Entry point for launching an IPython kernel.\n\nTh...orts until\nafter removing the cwd from sys.path.\n', '__file__': '/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py', '__loader__': <_frozen_importlib_external.SourceFileLoader object>, '__name__': '__main__', '__package__': '', '__spec__': ModuleSpec(name='ipykernel_launcher', loader=<_f...b/python3.6/site-packages/ipykernel_launcher.py'), 'app': <module 'ipykernel.kernelapp' from '/anaconda3/lib/python3.6/site-packages/ipykernel/kernelapp.py'>, ...}
     86     return run_globals
     87
     88 def _run_module_code(code, init_globals=None,
     89                     mod_name=None, mod_spec=None,

...........................................................................
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py in <module>()
     11     # This is added back by InteractiveShellApp.init_path()
     12     if sys.path[0] == '':
     13         del sys.path[0]
     14
     15     from ipykernel import kernelapp as app
---> 16     app.launch_new_instance()

...........................................................................
/anaconda3/lib/python3.6/site-packages/traitlets/config/application.py in launch_instance(cls=<class 'ipykernel.kernelapp.IPKernelApp'>, argv=None, **kwargs={})
    659
    660         If a global instance already exists, this reinitializes and starts it
    661         """
    662         app = cls.instance(**kwargs)
    663         app.initialize(argv)
--> 664         app.start()
        app.start = <bound method IPKernelApp.start of <ipykernel.kernelapp.IPKernelApp object>>
    665
    666 #-----------------------------------------------------------------------------
    667 # utility functions, for convenience
    668 #-----------------------------------------------------------------------------

...........................................................................
/anaconda3/lib/python3.6/site-packages/ipykernel/kernelapp.py in start(self=<ipykernel.kernelapp.IPKernelApp object>)
    558         if self.poller is not None:
    559             self.poller.start()
    560         self.kernel.start()
    561         self.io_loop = ioloop.IOLoop.current()
    562         try:
--> 563             self.io_loop.start()
        self.io_loop.start = <bound method BaseAsyncIOLoop.start of <tornado.platform.asyncio.AsyncIOMainLoop object>>
    564         except KeyboardInterrupt:
    565             pass
    566
    567

...........................................................................
/anaconda3/lib/python3.6/site-packages/tornado/platform/asyncio.py in start(self=<tornado.platform.asyncio.AsyncIOMainLoop object>)
    143         except (RuntimeError, AssertionError):
    144             old_loop = None  # type: ignore
    145         try:
    146             self._setup_logging()
    147             asyncio.set_event_loop(self.asyncio_loop)
--> 148             self.asyncio_loop.run_forever()
        self.asyncio_loop.run_forever = <bound method BaseEventLoop.run_forever of <_Uni...EventLoop running=True closed=False debug=False>>
    149         finally:
    150             asyncio.set_event_loop(old_loop)
    151
    152     def stop(self) -> None:

...........................................................................
/anaconda3/lib/python3.6/asyncio/base_events.py in run_forever(self=<_UnixSelectorEventLoop running=True closed=False debug=False>)
    433             sys.set_asyncgen_hooks(firstiter=self._asyncgen_firstiter_hook,
    434                                    finalizer=self._asyncgen_finalizer_hook)
    435         try:
    436             events._set_running_loop(self)
    437             while True:
--> 438                 self._run_once()
        self._run_once = <bound method BaseEventLoop._run_once of <_UnixS...EventLoop running=True closed=False debug=False>>
    439                 if self._stopping:
    440                     break
    441         finally:
    442             self._stopping = False

...........................................................................
/anaconda3/lib/python3.6/asyncio/base_events.py in _run_once(self=<_UnixSelectorEventLoop running=True closed=False debug=False>)
   1446                         logger.warning('Executing %s took %.3f seconds',
   1447                                        _format_handle(handle), dt)
   1448                 finally:
   1449                     self._current_handle = None
   1450             else:
-> 1451                 handle._run()
        handle._run = <bound method Handle._run of <Handle IOLoop.add_...b/python3.6/site-packages/tornado/ioloop.py:690>>
   1452         handle = None  # Needed to break cycles when an exception occurs.
   1453
   1454     def _set_coroutine_wrapper(self, enabled):
   1455         try:

...........................................................................
/anaconda3/lib/python3.6/asyncio/events.py in _run(self=<Handle IOLoop.add_future.<locals>.<lambda>(<Fut...ib/python3.6/site-packages/tornado/ioloop.py:690>)
    140             self._callback = None
    141             self._args = None
    142
    143     def _run(self):
    144         try:
--> 145             self._callback(*self._args)
        self._callback = <function IOLoop.add_future.<locals>.<lambda>>
        self._args = (<Future finished result=None>,)
    146         except Exception as exc:
    147             cb = _format_callback_source(self._callback, self._args)
    148             msg = 'Exception in callback {}'.format(cb)
    149             context = {

...........................................................................
/anaconda3/lib/python3.6/site-packages/tornado/ioloop.py in <lambda>(f=<Future finished result=None>)
    685             #
    686             # Wrap the callback in self._run_callback so we control
    687             # the error logging (i.e. it goes to tornado.log.app_log
    688             # instead of asyncio's log).
    689             future.add_done_callback(
--> 690                 lambda f: self._run_callback(functools.partial(callback, future))
        f = <Future finished result=None>
    691             )
    692         else:
    693             assert is_future(future)
    694             # For concurrent futures, we use self.add_callback, so

...........................................................................
/anaconda3/lib/python3.6/site-packages/tornado/ioloop.py in _run_callback(self=<tornado.platform.asyncio.AsyncIOMainLoop object>, callback=functools.partial(<function Runner.handle_yield.... at 0x1a1bc8e400>, <Future finished result=None>))
    738         .. versionchanged:: 6.0
    739
    740            CancelledErrors are no longer logged.
    741         """
    742         try:
--> 743             ret = callback()
        ret = undefined
        callback = functools.partial(<function Runner.handle_yield.... at 0x1a1bc8e400>, <Future finished result=None>)
    744             if ret is not None:
    745                 from tornado import gen
    746
    747                 # Functions that return Futures typically swallow all

...........................................................................
/anaconda3/lib/python3.6/site-packages/tornado/gen.py in inner(f=None)
    782         elif not self.future.done():
    783
    784             def inner(f: Any) -> None:
    785                 # Break a reference cycle to speed GC.
    786                 f = None  # noqa: F841
--> 787                 self.run()
    788
    789             self.io_loop.add_future(self.future, inner)
    790             return False
    791         return True

...........................................................................
/anaconda3/lib/python3.6/site-packages/tornado/gen.py in run(self=<tornado.gen.Runner object>)
    743                         finally:
    744                             # Break up a reference to itself
    745                             # for faster GC on CPython.
    746                             exc_info = None
    747                     else:
--> 748                         yielded = self.gen.send(value)
        yielded = None
        self.gen.send = <built-in method send of generator object>
        value = None
    749
    750                 except (StopIteration, Return) as e:
    751                     self.finished = True
    752                     self.future = _null_future

...........................................................................
/anaconda3/lib/python3.6/site-packages/ipykernel/kernelbase.py in dispatch_queue(self=<ipykernel.ipkernel.IPythonKernel object>)
    373         """
    374
    375         while True:
    376             # receive the next message and handle it
    377             try:
--> 378                 yield self.process_one()
        self.process_one = <bound method Kernel.process_one of <ipykernel.ipkernel.IPythonKernel object>>
    379             except Exception:
    380                 self.log.exception("Error in message handler")
    381
    382     _message_counter = Any(

...........................................................................
/anaconda3/lib/python3.6/site-packages/tornado/gen.py in wrapper(*args=(<ipykernel.ipkernel.IPythonKernel object>,), **kwargs={})
    220                     # Runner). This keeps the coroutine's Runner alive.
    221                     # We do this by exploiting the public API
    222                     # add_done_callback() instead of putting a private
    223                     # attribute on the Future.
    224                     # (Github issues #1769, #2229).
--> 225                     runner = Runner(result, future, yielded)
        result = <generator object process_one>
        future = <Future pending>
        yielded = <Future finished result=(10, 159, <bound method....b407ea8>, <zmq.sugar.fr... 0x1a1b407f60>, ...]))>
    226                     future.add_done_callback(lambda _: runner)
    227                 yielded = None
    228                 try:
    229                     return future

...........................................................................
/anaconda3/lib/python3.6/site-packages/tornado/gen.py in __init__(self=<tornado.gen.Runner object>, gen=None, result_future=None, first_yielded=None)
    709         self.running = False
    710         self.finished = False
    711         self.io_loop = IOLoop.current()
    712         if self.handle_yield(first_yielded):
    713             gen = result_future = first_yielded = None  # type: ignore
--> 714             self.run()
        self.run = <bound method Runner.run of <tornado.gen.Runner object>>
    715
    716     def run(self) -> None:
    717         """Starts or resumes the generator, running until it reaches a
    718         yield point that is not ready.

...........................................................................
/anaconda3/lib/python3.6/site-packages/tornado/gen.py in run(self=<tornado.gen.Runner object>)
    743                         finally:
    744                             # Break up a reference to itself
    745                             # for faster GC on CPython.
    746                             exc_info = None
    747                     else:
--> 748                         yielded = self.gen.send(value)
        yielded = undefined
        self.gen.send = <built-in method send of generator object>
        value = (10, 159, <bound method Kernel.dispatch_shell of <ipykernel.ipkernel.IPythonKernel object>>, (<zmq.eventloop.zmqstream.ZMQStream object>, [<zmq.sugar.frame.Frame object>, <zmq.sugar.frame.Frame object>, <zmq.sugar.frame.Frame object>, <zmq.sugar.frame.Frame object>, <zmq.sugar.frame.Frame object>, <zmq.sugar.frame.Frame object>, <zmq.sugar.frame.Frame object>]))
    749
    750                 except (StopIteration, Return) as e:
    751                     self.finished = True
    752                     self.future = _null_future

...........................................................................
/anaconda3/lib/python3.6/site-packages/ipykernel/kernelbase.py in process_one(self=<ipykernel.ipkernel.IPythonKernel object>, wait=True)
    360         else:
    361             try:
    362                 priority, t, dispatch, args = self.msg_queue.get_nowait()
    363             except QueueEmpty:
    364                 return None
--> 365         yield gen.maybe_future(dispatch(*args))
        dispatch = <bound method Kernel.dispatch_shell of <ipykernel.ipkernel.IPythonKernel object>>
        args = (<zmq.eventloop.zmqstream.ZMQStream object>, [<zmq.sugar.frame.Frame object>, <zmq.sugar.frame.Frame object>, <zmq.sugar.frame.Frame object>, <zmq.sugar.frame.Frame object>, <zmq.sugar.frame.Frame object>, <zmq.sugar.frame.Frame object>, <zmq.sugar.frame.Frame object>])
    366
    367     @gen.coroutine
    368     def dispatch_queue(self):
    369         """Coroutine to preserve order of message handling

...........................................................................
/anaconda3/lib/python3.6/site-packages/tornado/gen.py in wrapper(*args=(<ipykernel.ipkernel.IPythonKernel object>, <zmq.eventloop.zmqstream.ZMQStream object>, [<zmq.sugar.frame.Frame object>, <zmq.sugar.frame.Frame object>, <zmq.sugar.frame.Frame object>, <zmq.sugar.frame.Frame object>, <zmq.sugar.frame.Frame object>, <zmq.sugar.frame.Frame object>, <zmq.sugar.frame.Frame object>]), **kwargs={})
    204                 # avoid the cost of creating a Runner when the coroutine
    205                 # never actually yields, which in turn allows us to
    206                 # use "optional" coroutines in critical path code without
    207                 # performance penalty for the synchronous case.
    208                 try:
--> 209                     yielded = next(result)
        yielded = undefined
        result = <generator object dispatch_shell>
    210                 except (StopIteration, Return) as e:
    211                     future_set_result_unless_cancelled(
    212                         future, _value_from_stopiteration(e)
    213                     )

...........................................................................
/anaconda3/lib/python3.6/site-packages/ipykernel/kernelbase.py in dispatch_shell(self=<ipykernel.ipkernel.IPythonKernel object>, stream=<zmq.eventloop.zmqstream.ZMQStream object>, msg={'buffers': [], 'content': {'allow_stdin': True, 'code': "feature_to_pick = 250\nfeature_top_n = get_top_n_...e_top_n]\ndel titanic_test_data_X['Ticket_Number']", 'silent': False, 'stop_on_error': True, 'store_history': True, 'user_expressions': {}}, 'header': {'date': datetime.datetime(2019, 11, 25, 14, 47, 40, 371731, tzinfo=datetime.timezone.utc), 'msg_id': 'fa4c51d26ba24b3885d92fb982986bbe', 'msg_type': 'execute_request', 'session': 'aff3e4b1ceca416590e5fdf2779b58fd', 'username': 'username', 'version': '5.2'}, 'metadata': {}, 'msg_id': 'fa4c51d26ba24b3885d92fb982986bbe', 'msg_type': 'execute_request', 'parent_header': {}})
    267             try:
    268                 self.pre_handler_hook()
    269             except Exception:
    270                 self.log.debug("Unable to signal in pre_handler_hook:", exc_info=True)
    271             try:
--> 272                 yield gen.maybe_future(handler(stream, idents, msg))
        handler = <bound method Kernel.execute_request of <ipykernel.ipkernel.IPythonKernel object>>
        stream = <zmq.eventloop.zmqstream.ZMQStream object>
        idents = [b'aff3e4b1ceca416590e5fdf2779b58fd']
        msg = {'buffers': [], 'content': {'allow_stdin': True, 'code': "feature_to_pick = 250\nfeature_top_n = get_top_n_...e_top_n]\ndel titanic_test_data_X['Ticket_Number']", 'silent': False, 'stop_on_error': True, 'store_history': True, 'user_expressions': {}}, 'header': {'date': datetime.datetime(2019, 11, 25, 14, 47, 40, 371731, tzinfo=datetime.timezone.utc), 'msg_id': 'fa4c51d26ba24b3885d92fb982986bbe', 'msg_type': 'execute_request', 'session': 'aff3e4b1ceca416590e5fdf2779b58fd', 'username': 'username', 'version': '5.2'}, 'metadata': {}, 'msg_id': 'fa4c51d26ba24b3885d92fb982986bbe', 'msg_type': 'execute_request', 'parent_header': {}}
    273             except Exception:
    274                 self.log.error("Exception in message handler:", exc_info=True)
    275             finally:
    276                 try:

...........................................................................
/anaconda3/lib/python3.6/site-packages/tornado/gen.py in wrapper(*args=(<ipykernel.ipkernel.IPythonKernel object>, <zmq.eventloop.zmqstream.ZMQStream object>, [b'aff3e4b1ceca416590e5fdf2779b58fd'], {'buffers': [], 'content': {'allow_stdin': True, 'code': "feature_to_pick = 250\nfeature_top_n = get_top_n_...e_top_n]\ndel titanic_test_data_X['Ticket_Number']", 'silent': False, 'stop_on_error': True, 'store_history': True, 'user_expressions': {}}, 'header': {'date': datetime.datetime(2019, 11, 25, 14, 47, 40, 371731, tzinfo=datetime.timezone.utc), 'msg_id': 'fa4c51d26ba24b3885d92fb982986bbe', 'msg_type': 'execute_request', 'session': 'aff3e4b1ceca416590e5fdf2779b58fd', 'username': 'username', 'version': '5.2'}, 'metadata': {}, 'msg_id': 'fa4c51d26ba24b3885d92fb982986bbe', 'msg_type': 'execute_request', 'parent_header': {}}), **kwargs={})

In [ ]:
rf_est = ensemble.RandomForestClassifier(n_estimators = 750, criterion = 'gini', max_features = 'sqrt',
                                             max_depth = 3, min_samples_split = 4, min_samples_leaf = 2,
                                             n_jobs = 50, random_state = 42, verbose = 1)
gbm_est = ensemble.GradientBoostingClassifier(n_estimators=900, learning_rate=0.0008, loss='exponential',
                                                  min_samples_split=3, min_samples_leaf=2, max_features='sqrt',
                                                  max_depth=3, random_state=42, verbose=1)
et_est = ensemble.ExtraTreesClassifier(n_estimators=750, max_features='sqrt', max_depth=35, n_jobs=50,
                                           criterion='entropy', random_state=42, verbose=1)
voting_est = ensemble.VotingClassifier(estimators = [('rf', rf_est),('gbm', gbm_est),('et', et_est)],
                                       voting = 'soft', weights = [3,5,2],
                                       n_jobs = 50)
voting_est.fit(titanic_train_data_X,titanic_train_data_Y)

In [ ]:
titanic_test_data_X['Survived'] = voting_est.predict(titanic_test_data_X)
submission = pd.DataFrame({'PassengerId':test_data_org.loc[:,'PassengerId'],
                               'Survived':titanic_test_data_X.loc[:,'Survived']})
submission.to_csv('../data/result.csv',index=False,sep=',')