#### Slice ####

In [2]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'name':['leo','jill','jack','candy','alice'],
                   'bill': [16.99, 10.34, 23.68, 23.68, 24.59],
                   'tip': [1.01, 1.66, 3.50, 3.31, 3.61],
                   'sex': ['Female', 'Male', 'Male', 'Male', 'Female']})

df.head()

    bill   name     sex   tip
0  16.99    leo  Female  1.01
1  10.34   jill    Male  1.66
2  23.68   jack    Male  3.50
3  23.68  candy    Male  3.31
4  24.59  alice  Female  3.61

1）.loc,.iloc,.ix,只加第一个参数如.loc([1,2]),.iloc([2:3]),.ix[2]…则进行的是行选择<br>
2）.loc,.at，选列是只能是列名，不能是position<br>
3）.iloc,.iat，选列是只能是position，不能是列名<br>
4）df[]只能进行行选择，或列选择，不能同时进行列选择，列选择只能是列名。<br>

In [ ]:
#